In [1]:
import pandas as pd
import numpy as np

%matplotlib inline

In [2]:
pwd

'/Users/jseemayer/Documents/Me/Metis/mta-project-1'

In [6]:
ls

CSVs/                     Proj1.ipynb               Remote-Booth-Station.xls
Josef_MTA_Workbook.ipynb  README.md

In [7]:
cd CSVs

/Users/jseemayer/Documents/Me/Metis/mta-project-1/CSVs

In [8]:
ls

turnstile_190504.txt  turnstile_190518.txt
turnstile_190511.txt  turnstile_190525.txt

In [16]:
df1 = pd.read_csv('turnstile_190504.txt')
df2 = pd.read_csv('turnstile_190511.txt')
df3 = pd.read_csv('turnstile_190518.txt')
df4 = pd.read_csv('turnstile_190525.txt')
data = pd.concat([df1, df2, df3, df4], ignore_index=True)
data

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,00:00:00,REGULAR,7035249,2384833
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,04:00:00,REGULAR,7035269,2384840
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,08:00:00,REGULAR,7035292,2384875
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,12:00:00,REGULAR,7035392,2384951
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,16:00:00,REGULAR,7035651,2385020
...,...,...,...,...,...,...,...,...,...,...,...
822984,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,05:00:00,REGULAR,5554,378
822985,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,09:00:00,REGULAR,5554,378
822986,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,13:00:00,REGULAR,5554,378
822987,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,17:00:00,REGULAR,5554,378
822988,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/24/2019,21:00:00,REGULAR,5554,378